/* src/components/Agendamento/AgendamentoForm.module.scss */

$brand-color: #f67366;
$text-color: #f0f0f0;
$text-muted: #a0a0a0;
$input-bg: #2a2a2a;
$border-color: #3a3a3a;
$error-color: #dc3545;

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputGroup {
  position: relative;
  /* Espaço para a mensagem de erro */
  padding-bottom: 1.5rem; 

  label {
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: $text-muted;
    font-size: 0.9rem;
  }

  input {
    height: 30px;
    background-color: $input-bg;
    border: 1px solid $border-color;
    color: $text-color;
    padding: 0.8rem 1rem;
    margin-left: 5px;
    border-radius: 8px;
    font-size: 0.9rem;
    transition: border-color 0.3s, box-shadow 0.3s;

    &:focus {
      outline: none;
      border-color: $brand-color;
      box-shadow: 0 0 0 3px rgba($brand-color, 0.25);
    }
  }

  /* Estilo do input com erro */
  input.error {
    border-color: $error-color;
    &:focus {
      box-shadow: 0 0 0 3px rgba($error-color, 0.25);
    }
  }
}

.errorMessage {
  color: $error-color;
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
  left: 5px;
}

.primaryButton {
    width: 100%;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.9rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: $brand-color;
    color: #fff;
    border: none;
    margin-top: 1rem;

    &:hover {
        background: darken($brand-color, 10%);
    }

    &:disabled {
        background-color: #555;
        cursor: not-allowed;
    }
}