.navbar {
  // Geral
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 15px 150px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  // Logo
  &__logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #f8f8f8;
    width: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &-img {
      width: 40px;
      height: 58px;
      object-fit: contain;
      border-radius: 15px;
      margin-right: 10px;
    }

    a {
      text-decoration: none;
      color: inherit;
      display: flex;
      align-items: center;
    }
  }

  // Links
  &__links {
    display: flex;
    list-style: none;
    gap: 20px;
    font-family: "Poppins", sans-serif;

    li a {
      color: #fff;
      text-decoration: none;
      font-size: 18px;

      &:hover {
        color: #F67366;
      }
    }

    li.active a {
      color: #F67366;
      font-weight: bold;
    }
  }

  // Botão / Links de ação
  &__containerButton {
    display: flex;
    direction: ltr;
    justify-content: center;
    align-items: center;

    // Agora estiliza <button> **e** <a>
    button,
    a {
      background: none;
      border: none;
      font-size: 15px;
      cursor: pointer;
      text-decoration: none; // importante para <a>

      &:hover {
        color: #ec5f49;
      }

      &.navbar__login {
        color: #fff;
        margin-right: 10px;
        font-family: "Poppins";
        font-weight: 500;

        &:hover {
          color: #ec5f49;
        }
      }

      &.navbar__signup {
        color: #000;
        font-family: "Poppins";
        font-weight: 500;

        &:hover {
          color: #ec5f49;
        }
      }
    }

    .container {
      width: 200px;
      height: 45px;
      margin-left: 10px;
      background-color: #f8f8f8;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: end;
      padding: 5px;

      .button {
        width: 50px;
        height: 43px;
        background-color: #000000;
        border-radius: 10px;
        margin-left: 20px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #ec5f49;
        }

        .icon {
          font-size: 25px;
          color: #fff;

          &:hover {
            color: #f8f8f8;
          }
        }
      }
    }
  }
}
