.navbar {
  // Geral
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 15px 150px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  // Logo
  &__logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #f8f8f8;
    width: 132px;
    display: flex;
    justify-content: center;
    align-items: center ;
    cursor: pointer;

    &-img {
      width: 40px;
      height: 58px;
      object-fit: contain;
      border-radius: 15px;
      margin-right: 10px;
    }
    
    a {
      text-decoration: none;
      color: inherit;
      display: flex;
      align-items: center;
    }
  }

  // Links
  &__links {
    display: flex;
    list-style: none;
    gap: 20px;
    font-family: "Poppins", sans-serif;

    a {
      color: #fff;
      text-decoration: none;
      font-size: 18px;

      &:hover {
        color: #F67366;
      }
    }
  }  

  // Botão
  &__containerButton {
    display: flex;
    direction: ltr;
    justify-content: center;
    align-items: center;
    

    button {
      background: none;
      border: none;
      font-size: 15px;
      cursor: pointer;
    
      &:hover {
        color: #ec5f49;
      }
    
      &.navbar__login {
        color: #fff;
        margin-right: 10px;
        font-family: "Poppins";
        font-weight: 500;
        &:hover {
          color: #ec5f49;
        }
      }
    
      &.navbar__signup {
        color: #000;
        font-family: "Poppins";
        font-weight: 500;
        &:hover {
          color: #ec5f49;
        }
      }
    }

    .container {
      width: 200px;
      height: 45px;
      margin-left: 10px;
      background-color: #f8f8f8;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: end;
      padding: 5px;

      .button {
        width: 50px;
        height: 43px;
        background-color: #000000;
        border-radius: 10px;
        margin-left: 20px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s ease; // suaviza a transição
      
        &:hover {
          background-color: #ec5f49; // cor de fundo ao passar o mouse
        }
      
        .icon {
          font-size: 25px;
          color: #fff; // garante visibilidade do ícone no fundo escuro
      
          &:hover {
            color: #f8f8f8; // cor do ícone no hover (opcional)
          }
        }
      }
      
    }
  }
}


@media (max-width: 768px) {
  .navbar {
    padding: 15px 20px;
    flex-direction: column;
    align-items: flex-start;

    &__links {
      flex-direction: column;
      gap: 10px;
    }

    &__containerButton {
      margin-top: 10px;
      flex-direction: column;
      align-items: flex-start;

      .container {
        width: 100%;
        justify-content: space-between;
        margin-left: 0;
      }
    }
  }
}
