.SobreNos {
  width: 85%;
  padding: 5rem;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 3rem;
  justify-content: center;
}

/* FLIP CARD */
.flipCard {
  perspective: 1200px;
  width: 100%;
  aspect-ratio: 3 / 3;
  cursor: pointer;
  position: relative;

  &:hover .flipInner {
    transform: rotateX(180deg); // <- Efeito de flip
  }

  &:hover .image {
    filter: brightness(0.2);
  }

  &:hover .flipBack .icon,
  &:hover .flipBack .title,
  &:hover .flipBack .text {
    opacity: 1;
    transform: translateY(0);
  }
}

.flipInner {
  width: 100%;
  height: 100%;
  transition-delay: 0.2s;
  transition-duration: 1.2s;
  transition-property: transform;
  transition-timing-function: ease;
  transform-style: preserve-3d;
  position: relative;
}

.flipFront,
.flipBack {
  background-image: url('../../images/OIF.webp');
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  backface-visibility: hidden;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.flipFront {
  background-color: #000;
  z-index: 2;
}

.image {
  max-width: 80px;
  max-height: 80px;
  margin-bottom: 1rem;
}

.flipBack {
  background-color: #111;
  transform: rotateX(180deg); // <- Inversão vertical
  z-index: 1;

  .icon,
  .title,
  .text {
    opacity: 0;
    transform: translateY(15px);
    transition: all 0.4s ease-in-out;
  }
}

.icon {
  font-size: 2.5rem;
  color: #F67366;
  margin-bottom: 0.8rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0.5rem;
}

.text {
  font-size: 0.95rem;
  color: #ccc;
  line-height: 1.4;
}
